<%- include('/home/tsiory/Projet/React/views/partiels/Header.ejs')%> 

<body>
    <!-- <div class="Cards">
        <header>
            <p id="CardsTime"></p>
            <p class="Alfred"> Alfred </p>
        </header>
    </div> -->
    <button id="download-Cards"> Télécharger </button>
</body>
</html>

<%- include('/home/tsiory/Projet/React/views/javascript/CardsISScript.ejs') %>
<%- include('/home/tsiory/Projet/React/views/css/CardsISStyle.ejs') %>