<%- include('/home/tsiory/Projet/React/views/partiels/Header.ejs')%> 

<body>
    <button id="download-Cards"> Télécharger </button>
</body>
</html>

<script>
    let json_todo = <%-JSON.stringify(indexToDo);%>;
    let json_toDone = <%-JSON.stringify(indexToDone);%>;

    // $(document).ready(function() {
        // Creation des tables
        // jsonObjectToDo
        $.getScript(`partiels/CISToDo.js`, function() {
            drawToDo(json_todo)
        })
        // ----------------------------------------------------------------------

        // jsonObjectToDone
        $.getScript(`partiels/CISToDone.js`, function() {
            drawToDone(json_toDone)
        })
        var CardsTime = new Date($.now())
        $('.CardsTime').html(CardsTime.toLocaleTimeString())
        // ----------------------------------------------------------------------
        // ----------------------------------------------------------------------

        // Telechargement du contenu HTML en PDF
        $.getScript(`partiels/CISPdf.js`, function() {
            drawPdf(json_todo, json_toDone)
        })
        // ----------------------------------------------------------------------
    // })
</script>

<%- include('/home/tsiory/Projet/React/views/css/CardsISStyle.ejs') %>