<%- include('../partiels/Header.ejs') %>

<body>
    <div class="format">
        
            <header>
                <p> Mes Taches / Sections </p>
            </header>
        
        <div class="contenu">
            <table class="tab">
                <tr>
                    <th> Nouvelles demandes - ToDo: </th>
                </tr>
                <td class="nouveau"> </td>
                <tr>
                    <th> En cours - Doing: </th>
                </tr>
                <td class="doing"> </td>
                <tr>
                    <th> Fait - Done: </th>
                </tr>
                <td class="done"> </td>
            </table>
        </div>    
    </div>
    
    <button id="download-pdf" > Télécharger </button>  
</body>
</html>

<!-- Prend les donnees stockees dans le stockage interne et les convertis en JSON -->
<!-- <script src="partiels/jsonObject.js"></script> -->
<!-- ---------------------------------------------------------------------- -->

<script>
    let json_todo = <%-JSON.stringify(indexToDo);%>;
    let json_toDone = <%-JSON.stringify(indexToDone);%>;

    // $(document).ready(function() {

        // Creation des listes et sections
        $.getScript(`partiels/SectionToDo.js`, function() {
            SectionToDo(json_todo)
        })
        $.getScript(`partiels/SectionToDone.js`, function() {
            SectionToDone(json_toDone)
        })
        // ----------------------------------------------------------------------

        $.getScript(`partiels/SectionPdf.js`, function() {
            SectionPdf(json_todo, json_toDone)
        })
    // })
</script>

<%- include('../css/FormatPDFStyle.ejs') %>