<%- include('../partiels/Header.ejs') %>

<body>
    <button id="download-List"> Télécharger </button>  
</body>
</html>

<!-- Declaration et initialisation variable -->
<!-- <script src="partiels/ListVariable.js"></script> -->
<!-- ---------------------------------------------------------------------- -->

<script>
    let json_todo = <%-JSON.stringify(indexToDo);%>;
    let json_toDone = <%-JSON.stringify(indexToDone);%>;

    // $(document).ready(function() {
        // Creation design
        $.getScript(`partiels/ListDesign.js`, function() {
            ListDesign(json_todo, json_toDone)
        })
        // ----------------------------------------------------------------------

        // Telechargement de la page en version PDF
        $.getScript(`partiels/ListPdf.js`, function() {
            ListPdf(json_todo, json_toDone)
        })
        // ----------------------------------------------------------------------
    // })
</script>

<%- include('../css/ListStyle.ejs') %>