<%- include('../partiels/Header.ejs') %>

<body>
    <!-- <div class="List">
        <div class="haut">
            <p class="current-time"></p>
            <p id="alfred"> Alfred </p>
        </div>
        <div class="titre"> List Taches </div>
        <div class="mid">
            <ul class="ulList">
                
            </ul>
        </div>
    </div> -->
    <button id="download-List"> Télécharger </button>
    
</body>
</html>

<%- include('../javascript/ListScript.ejs') %>
<%- include('../css/ListStyle.ejs') %>