<%- include('../partiels/Header.ejs') %>

<body>
    <!-- <div class="project"> -->
        <!-- <header>
            <p class="header1"> <span id="project-time"></span> <span class="alfred"> Alfred </span> </p>
        </header>
        <div class="head">
            <p class="header2"> <b> Projects Dashboard </b> created <span id="project-date"></span> </p>
        </div> -->
        <!-- <p class="header3">
            <span> 3 </span> selection(s) in <span> En cours - Doing </span>
            in <span> Mes Taches </span> of <span> ANDRIAMAHEFA </span>
        </p>
        <div class="tab">
            
        </div> -->
    <!-- </div> -->
    <button id="download-project"> Télécharger </button>
</body>
</html>

<%- include('../javascript/ProjectDashboardScript.ejs') %>
<%- include('../css/ProjectDashboardStyle.ejs') %>