<%- include('../partiels/Header.ejs') %>

<body>
    <button id="download-project"> Télécharger </button>
</body>
</html>

<!-- Prend les donnees stockees dans le stockage interne et les convertis en JSON -->
<script src="partiels/jsonObject.js"></script>
<!-- ---------------------------------------------------------------------- -->

<script>
    $(document).ready(function() {
        // Creation des tables
        // jsonObjectToDo
        $.getScript(`partiels/PDToDo.js`, function() {
            PDToDo()
        })
        // ----------------------------------------------------------------------

        // jsonObjectToDoing
        $.getScript(`partiels/PDToDoing.js`, function() {
            PDToDoing()
        })
        // ----------------------------------------------------------------------

        // jsonObjectToDo
        $.getScript(`partiels/PDToDo.js`, function() {
            PDToDo()
        })
        // ----------------------------------------------------------------------

        // jsonObjectToDo
        $.getScript(`partiels/PDToDone.js`, function() {
            PDToDone()
        })
        // ----------------------------------------------------------------------

        // Telechargement de la page en version PDF
        $.getScript(`partiels/PDPdf.js`, function() {
            PDPdf()
        })
        // ----------------------------------------------------------------------
    })
</script>

<%- include('../css/ProjectDashboardStyle.ejs') %>