<%- include('../partiels/Header.ejs') %>

<body>
    <button id="download-project"> Télécharger </button>
</body>
</html>

<script>
    let json_todo = <%-JSON.stringify(indexToDo);%>;
    let json_toDone = <%-JSON.stringify(indexToDone);%>;

    // $(document).ready(function() {
        // Creation des tables
        // jsonObjectToDo
        $.getScript(`partiels/PDToDo.js`, function() {
            PDToDo(json_todo)
        })
        // ----------------------------------------------------------------------

        // jsonObjectToDo
        $.getScript(`partiels/PDToDone.js`, function() {
            PDToDone(json_toDone)
        })
        // ----------------------------------------------------------------------

        // Telechargement de la page en version PDF
        $.getScript(`partiels/PDPdf.js`, function() {
            PDPdf(json_todo, json_toDone)
        })
        // ----------------------------------------------------------------------
    // })
</script>

<%- include('../css/ProjectDashboardStyle.ejs') %>