<script>
    // Traitement de Liste et Section des Taches
    $(document).ready(function() {
        
        var pageHeight = $(window).height()
        var contentHeight = $('.format').height()
        var numPages = Math.ceil(contentHeight / pageHeight)

        for(var i = 1; i < numPages; i++) {
            $('<div class="page-break"> </div>').insertAfter(".format > div:nth-child(' + (i * 2 -1) + ')")
        }
        
        // Creation des listes et sections
        // Prend les donnees stockees dans le stockage interne et les convertis en JSON
        var jsonObjectToDO = JSON.parse(localStorage.getItem('jsonToDo'))
        console.log("toDo: ", jsonObjectToDO)

        if ($.isArray(jsonObjectToDO) && jsonObjectToDO.length > 0) {
            $.each(jsonObjectToDO, function(index, value) {
                if (value != null && value !== undefined) {
                    $('td.nouveau').append('<p class="para">' + (value.Task_text != null && value.Task_text !== undefined ? value.Task_text : '') + '\n' + '</p>');
                }
            });
        }

        // Prend les donnees stockees dans le stockage interne et les convertis en JSON
        var jsonObjectToDoing = JSON.parse(localStorage.getItem('jsonToDoing'));
        console.log("toDoing: ", jsonObjectToDoing)

        if ($.isArray(jsonObjectToDoing) && jsonObjectToDoing.length > 0) {
            $.each(jsonObjectToDoing, function(index, value) {
                if (value != null && value !== undefined) {
                    $('td.doing').append('<p class="para">' + (value.Task_text != null && value.Task_text !== undefined ? value.Task_text : '') + '\n' + '</p>');
                }
            });
        }

        // Prend les donnees stockees dans le stockage interne et les convertis en JSON
        var jsonObjectToDone = JSON.parse(localStorage.getItem('jsonToDone'));
        console.log('toDone: ', jsonObjectToDone);

        if ($.isArray(jsonObjectToDone) && jsonObjectToDone.length > 0) {
            $.each(jsonObjectToDone, function(index, value) {
                if (value != null && value !== undefined) {
                    $('td.done').append('<p class="para">' + (value.Task_text != null && value.Task_text !== undefined ? value.Task_text : '') + '\n' + '</p>');
                }
            });
        }
        // ----------------------------------------------------------------------

        // Changement de couleur
        // $("td p:nth-child(even)").css("background-color", "#e9bf00");
        $("td p:nth-child(odd)").css("background-color", "#e9bf00");
        // ----------------------------------------------------------------------

        // Telechargement de la page en version PDF
        $('#download-pdf').click(function() {
            // Efface  le bouton du telechargement
            $('#download-pdf').css('display', 'none')
            
            // Converti le contenu html en version PDF
            $.get('/FormatPDF', function(html) {
                var format = $('body').html()
                console.log(format);

                // Efface les caches
                var cleanedHtmlContent = DOMPurify.sanitize(format)
                console.log(cleanedHtmlContent)

                // initialisation jspdf
                var doc = new jspdf.jsPDF('p', 'pt', 'a4');

                // Sauvegarde le contenu HTML en pdf
                doc.html(format, {
                    callback: function(pdf) {
                        // Code pour télécharger le fichier PDF
                        // doc.html(format, 5, 5)
                        doc.save('ListeSection.pdf')
                    },
                    // x: 1,
                    // y: 1
                    autoPaging: 'text',
                    // margin: [top, right, bottom, left]
                    // margin: [0, 0, -8, 0],
                    margin: [-3.6, 0, 42, 0],
                    html2canvas: {
                        scale: 1.3
                    }
                });
          
            });

        })
        // ----------------------------------------------------------------------
    })
    // ----------------------------------------------------------------------
</script>