<script>
    // Traitement du ProjectDashboard des Taches
    $(document).ready(function() {
        

        // Prend les donnees stockees dans le stockage interne et les convertis en JSON
        var jsonObjectProjectToDo = JSON.parse(localStorage.getItem('jsonToDo'))
        var jsonObjectProjectToDoing = JSON.parse(localStorage.getItem('jsonToDoing'))
        var jsonObjectProjectToDone = JSON.parse(localStorage.getItem('jsonToDone'))
        // ----------------------------------------------------------------------

        // Creation des tables
        if($.isArray(jsonObjectProjectToDo) && (jsonObjectProjectToDo.length > 0)) {
            // $('.head').append(
            //     '<p class="header3">'
            //     + '<span> ' + jsonObjectProjectToDo.length + ' </span> selection(s) in <span> ' + jsonObjectProjectToDo[0].section + ' </span>'
            //     + 'in <span> Mes Taches </span> of <span> ' + jsonObjectProjectToDo[0].assigned + ' </span>'
            //     + '</p>'
            // )
            $.each(jsonObjectProjectToDo, function(index, value) {
                if (value != null && value !== undefined) {
                    $('body').append(
                        '<div class="project">'
                        +'<header>'
                        + '<p class="header1"> <span class="project-time"></span> <span class="alfred"> Alfred </span> </p>'
                        + '</header>'
                        + '<div class="head">'
                        + '<p class="header2"> <span class="dash"> Projects Dashboard </span> <div> <span class="create"> created <span class="project-date"></span> </span> </div> </p>'
                        + '<p class="header3">'
                        + '<span> ' + (jsonObjectProjectToDo.length != null && jsonObjectProjectToDo.length !== undefined ? jsonObjectProjectToDo.length : '' ) + ' </span> selection(s) in <span> ' + (jsonObjectProjectToDo.section != null && jsonObjectProjectToDo.section !== undefined ? jsonObjectProjectToDo[0].section : '' ) + ' </span>'
                        + 'in <span> Mes Taches </span> ' + ( jsonObjectProjectToDo.assigned !=null && jsonObjectProjectToDo.assigned !== undefined ? 'of <span> ' + jsonObjectProjectToDo[0].assigned : '') + ' </span>'
                        + '</p>'
                        + '</div>'
                        + '<div class="img">'
                        + '<table>'
                        + '<thead>'
                        + '<tr>'
                        + '<th> ' + (value.Task_text != null && value.Task_text !== undefined ? value.Task_text : '') + '</th>'
                        + '</tr>'
                        + '</thead>'
                        + '<tbody>'
                        + '<tr class="tr1">'
                        + '<td> <i class="fa-sharp fa-solid fa-list-check"></i> <span class="complete"> Percent Complete </span> <div> <span class="percent">'+ (value.percentComplete !=null && value.percentComplete !== undefined ? value.percentComplete : '') + '</span> </div> </td>'
                        + '<td> <i class="fa-solid fa-bell"></i> <span class="status">' + (value.Status_id != null && value.Status_id !== undefined ? value.Status_id : '') + ' </span> </td>'
                        + '</tr>'
                        + '<tr class="tr2">'
                        + '<td> <i class="fa-sharp fa-solid fa-calendar-days"></i> <span class="haut"> DUE </span> <span class="haut started"> STARTED </span> <br> <span class="bas"> ' + (value.Due_date != null && value.Due_date !== undefined ? value.Due_date : '') + ' </span> <span class="bas start"> ' + (value.Start_date != null && value.Start_date !== undefined ? value.Start_date : '') + ' </span> </td>'
                        + '<td> <i class="fa-solid fa-user"></i> <span class="owner"> OWNER </span> <br> <span class="noOne"> ' + (value.followers != null && value.followers !== undefined ? value.followers : '') + ' </span>  </td>'
                        + '<td> <span class="description"> ' + (value.description != null && value.description !== undefined ? '<i class="fa-solid fa-pen"></i>' + value.description : '') + ' </span> </td>'
                        + '<td> <span class="program"> ' + (value.program != null && value.program !== undefined ? '<i class="fa-solid fa-folder"></i>' + value.program : '') + ' </span> </td>'
                        + '</tr>'
                        + '</tbody>'
                        + '</table>'
                        + '</div>'
                        + '</div>'
                        // + '<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>'
                    )
                }
            })
        }

        if($.isArray(jsonObjectProjectToDoing) && (jsonObjectProjectToDoing.length > 0)) {
            // $('.head').append(
            //     '<p class="header3">'
            //     + '<span> ' + jsonObjectProjectToDoing.length + ' </span> selection(s) in <span> ' + jsonObjectProjectToDoing[0].section + ' </span>'
            //     + 'in <span> Mes Taches </span> of <span> ' + jsonObjectProjectToDoing[0].assigned + ' </span>'
            //     + '</p>'
            // )
            $.each(jsonObjectProjectToDoing, function(index, value) {
                if (value != null && value !== undefined) {
                    $('body').append(
                        '<div class="project">'
                        + '<header>'
                        + '<p class="header1"> <span class="project-time"></span> <span class="alfred"> Alfred </span> </p>'
                        + '</header>'
                        + '<div class="head">'
                        + '<p class="header2"> <span class="dash"> Projects Dashboard </span> <div> <span class="create"> created <span class="project-date"></span> </span> </div> </p>'
                        + '<p class="header3">'
                        + '<span> ' + (jsonObjectProjectToDoing.length != null && jsonObjectProjectToDoing.length !== undefined ? jsonObjectProjectToDoing.length : '' )  + ' </span> selection(s) in <span> ' + (jsonObjectProjectToDoing.section != null && jsonObjectProjectToDoing.section !== undefined ? jsonObjectProjectToDoing[0].section : '' ) + ' </span>'
                        + 'in <span> Mes Taches </span> ' + ( jsonObjectProjectToDoing.assigned !=null && jsonObjectProjectToDoing.assigned !== undefined ? 'of <span> ' + jsonObjectProjectToDoing[0].assigned : '') + ' </span>'
                        + '</p>'
                        + '</div>'
                        + '<div class="img">'
                        + '<table>'
                        + '<thead>'
                        + '<tr>'
                        + '<th> ' + (value.Task_text != null && value.Task_text !== undefined ? value.Task_text : '') + '</th>'
                        + '</tr>'
                        + '</thead>'
                        + '<tbody>'
                        + '<tr class="tr1">'
                        + '<td> <i class="fa-sharp fa-solid fa-list-check"></i> <span class="complete"> Percent Complete </span> <div> <span class="percent">'+ (value.percentComplete !=null && value.percentComplete !== undefined ? value.percentComplete : '') + '</span> </div>  </td>'
                        + '<td> <i class="fa-solid fa-bell"></i> <span class="status">' + (value.Status_id != null && value.Status_id !== undefined ? value.Status_id : '') + ' </span> </td>'
                        + '</tr>'
                        + '<tr class="tr2">'
                        + '<td> <i class="fa-sharp fa-solid fa-calendar-days"></i> <span class="haut"> DUE </span> <span class="haut started"> STARTED </span> <br> <span class="bas"> ' + (value.Due_date != null && value.Due_date !== undefined ? value.Due_date : '') + ' </span> <span class="bas start"> ' + (value.Start_date != null && value.Start_date !== undefined ? value.Start_date : '') + ' </span> </td>'
                        + '<td> <i class="fa-solid fa-user"></i> <span class="owner"> OWNER </span> <br> <span class="noOne"> ' + (value.followers != null && value.followers !== undefined ? value.followers : '') + ' </span>  </td>'
                        + '<td> <span class="description"> ' + (value.description != null && value.description !== undefined ? '<i class="fa-solid fa-pen"></i>' + value.description : '') + ' </span> </td>'
                        + '<td> <span class="program"> ' + (value.program != null && value.program !== undefined ? '<i class="fa-solid fa-folder"></i>' + value.program : '') + ' </span> </td>'
                        + '</tr>'
                        + '</tbody>'
                        + '</table>'
                        + '</div>'
                        + '</div>'
                        // + '<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>'
                    )
                }
            })
        }

        if($.isArray(jsonObjectProjectToDone) && (jsonObjectProjectToDone.length > 0)) {
            // $('.head').append(
            //     '<p class="header3">'
            //     + '<span> ' + jsonObjectProjectToDone.length + ' </span> selection(s) in <span> ' + jsonObjectProjectToDone[0].section + ' </span>'
            //     + 'in <span> Mes Taches </span> of <span> ' + jsonObjectProjectToDone[0].assigned + ' </span>'
            //     + '</p>'
            // )
            $.each(jsonObjectProjectToDone, function(index, value) {
                if (value != null && value !== undefined) {
                    $('body').append(
                        '<div class="project">'
                        + '<header>'
                        + '<p class="header1"> <span class="project-time"></span> <span class="alfred"> Alfred </span> </p>'
                        + '</header>'
                        + '<div class="head">'
                        + '<p class="header2"> <span class="dash"> Projects Dashboard </span> <div> <span class="create"> created <span class="project-date"></span> </span> </div> </p>'
                        + '<p class="header3">'
                        + '<span> ' + (jsonObjectProjectToDone.length != null && jsonObjectProjectToDone.length !== undefined ? jsonObjectProjectToDone.length : '' ) + ' </span> selection(s) in <span> ' + (jsonObjectProjectToDone.section != null && jsonObjectProjectToDone.section !== undefined ? jsonObjectProjectToDone[0].section : '' ) + ' </span>'
                        + 'in <span> Mes Taches </span> of <span> ' + ( jsonObjectProjectToDone.assigned !=null && jsonObjectProjectToDone.assigned !== undefined ? 'of <span> ' + jsonObjectProjectToDone[0].assigned : '') + ' </span>'
                        + '</p>'
                        + '</div>'
                        + '<div class="img">'
                        + '<table>'
                        + '<thead>'
                        + '<tr>'
                        + '<th> ' + (value.Task_text != null && value.Task_text !== undefined ? value.Task_text : '') + '</th>'
                        + '</tr>'
                        + '</thead>'
                        + '<tbody>'
                        + '<tr class="tr1">'
                        + '<td> <i class="fa-sharp fa-solid fa-list-check"></i> <span class="complete"> Percent Complete </span> <div> <span class="percent">'+ (value.percentComplete !=null && value.percentComplete !== undefined ? value.percentComplete : '') + '</span> </div> </td>'
                        + '<td> <i class="fa-solid fa-bell"></i> <span class="status">' + (value.Status_id != null && value.Status_id !== undefined ? value.Status_id : '') + ' </span> </td>'
                        + '</tr>'
                        + '<tr class="tr2">'
                        + '<td> <i class="fa-sharp fa-solid fa-calendar-days"></i> <span class="haut"> DUE </span> <span class="haut started"> STARTED </span> <br> <span class="bas"> ' + (value.Due_date != null && value.Due_date !== undefined ? value.Due_date : '') + ' </span> <span class="bas start"> ' + (value.Start_date != null && value.Start_date !== undefined ? value.Start_date : '') + ' </span> </td>'
                        + '<td> <i class="fa-solid fa-user"></i> <span class="owner"> OWNER </span> <br> <span class="noOne"> ' + (value.followers != null && value.followers !== undefined ? value.followers : '') + ' </span>  </td>'
                        + '<td> <span class="description"> ' + (value.description != null && value.description !== undefined ? '<i class="fa-solid fa-pen"></i>' + value.description : '') + ' </span> </td>'
                        + '<td> <span class="program"> ' + (value.program != null && value.program !== undefined ? '<i class="fa-solid fa-folder"></i>' + value.program : '') + ' </span> </td>'
                        + '</tr>'
                        + '</tbody>'
                        + '</table>'
                        + '</div>'
                        + '</div>'
                        // + '<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>'
                    )
                }
            })
        }
        // ----------------------------------------------------------------------

        // Définir les options de configuration pour l'image
        // var options = {
        //     pagesplit: true,
        //     imageWidth: 500,
        //     imageHeight: 500,
        //     margin: {
        //         left: 10,
        //         right: 10,
        //         top: 10,
        //         bottom: 10
        //     }
        // };

        // Affichage de la date et l'heure actuelles
        var currenTime = new Date()
        $('.project-time').html($.format.date(currenTime, "dd/MM/yyyy H:mm"))
        // ----------------------------------------------------------------------

        // Autre affichage de la date et l'heure actuelles
        var currentDate = new Date();
        var formattedDate = $.format.date(currentDate, "MMM dd yyyy h:mma");
        $('.project-date').html(formattedDate)
        // affiche par exemple "Mar 15 2023 9:46am"
        // ----------------------------------------------------------------------

        const backgroundImage = new Image();
        backgroundImage.src = '/Nuage.jpg';

        // Telechargement de la page en version PDF
        $('#download-project').click(function() {
            // Efface  le bouton du telechargement
            $('#download-project').css('display', 'none')
            
            // Converti le contenu html en version PDF
            $.get('/ProjectDashboard', function(html) {
                var project = $('body').html()

                // Efface les caches
                var clearContentHtml = DOMPurify.sanitize(project)
                console.log(clearContentHtml)

                // initialisation jspdf
                var doc = new jspdf.jsPDF('p', 'pt', 'a4')
                // doc.addImage(backgroundImage, 'JPEG', 0, 0, doc.internal.pageSize.width, doc.internal.pageSize.height);


                // Sauvegarde le contenu HTML en pdf
                doc.html(clearContentHtml, {
                    callback: function(pdf) {
                        // doc.addImage("/Nuage.jpg", "JPEG", 10, 10, options.imageWidth, options.imageHeight)
                        // doc.text(html, 10, 10);
                        doc.save('ProjectDashboard.pdf')
                    },
                    // margin: [top, right, bottom, left]
                    margin: [-3.6, 0, 0, 0],
                    html2canvas: {
                        scale: 1.3,
                    }
                })
            })
        })
        // ----------------------------------------------------------------------
    })
    // ----------------------------------------------------------------------
</script>