<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Accueil.css">
    <title> Accueil </title>
</head>
<body>
    <div class="accueil">
        <header>
            <nav>
                <h1> Alfred </h1>
                <div class="res">
                <input type="search" name="recherche" id="recherche" placeholder="Rechercher">
                </div>
                <button class="deconnexion"> <a href="#"> Deconnexion </a> </button>  
            </nav>
        </header>

        <div class="nav">
            <div class="menu">
                <ul>
                    <center>
                        <li class="li1"> <a href="./Accueil.html"> Accueil </a>  </li>
                        <li class="li2"> <a href="./Taches.html"> Mes taches </a>  </li>
                        <li class="li3"> <a href="#"> Boite de reception </a>  </li>
                        <li class="li4"> <a href="./Exportation.html"> Exportation </a>  </li>
                        <li class="li5"> <a href="#"> Objectifs </a>  </li>
                    </center>
                </ul>
            </div>
            <div class="invitation">
                <ul>
                    <center>
                        <li> <a href="#"> Inviter des collegues </a> </li>
                        <li> <a href="#"> Aide et premiers pas </a> </li>
                    </center>
                </ul>
            </div>
        </div>

        <div class="milieu">
            <p class="date"> Mercredi 1 mars 2023 </p>
            <p class="salutation"> Bonjour, ANDRIAMAHEFA</p>
            <div class="you">
                <section>
                    <select name="journee" id="journee">
                        <option value="1j"> 1 jour  </option>
                        <option value="2j"> 2 jours  </option>
                        <option value="3j"> 3 jours  </option>
                        <option value="4j"> 4 jours  </option>
                        <option value="5j"> 5 jours  </option>
                        <option value="6j"> 6 jours  </option>
                        <option value="7j"> 7 jours  </option>
                    </select>
                    <p class="tacheTerminee"> 0 <span> tache(s) terminee(s) </span> </p>
                    <p class="collaborateur"> 0 <span> collaborateur(s) </span> </p>
                </section>
            </div>
        </div>
    </div>
</body>
</html>