<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Exportation.css">
    <title> Exportation </title>
</head>
<body>
    <div class="exportation">
        <header>
            <nav>
                <h1> Alfred </h1>
                <div class="res">
                <input type="search" name="recherche" id="recherche" placeholder="Rechercher">
                </div>
                <button class="deconnexion"> <a href="#"> Deconnexion </a> </button>  
            </nav>
        </header>

        <div class="nav">
            <div class="menu">
                <ul>
                    <center>
                        <li class="li1"> <a href="./Accueil.html"> Accueil </a>  </li>
                        <li class="li2"> <a href="./Taches.html"> Mes taches </a>  </li>
                        <li class="li3"> <a href="#"> Boite de reception </a>  </li>
                        <li class="li4"> <a href="./Exportation.html"> Exportation </a>  </li>
                        <li class="li5"> <a href="#"> Objectifs </a>  </li>
                    </center>
                </ul>
            </div>
            <div class="invitation">
                <ul>
                    <center>
                        <li> <a href="#"> Inviter des collegues </a> </li>
                        <li> <a href="#"> Aide et premiers pas </a> </li>
                    </center>
                </ul>
            </div>
        </div>

        <div class="export">
            <div class="exportHeader">
                <p> Exportation </p>
            </div>
            <div class="exportContainer">
                <div class="partie1">
                    <p> 1. Choose a format in which to display your results: </p>
                    <select name="" id="">
                        <option value=""> CSV - Basic </option>
                        <option value=""> CSV - Detailed </option>
                        <option value=""> JSON Complete </option>
                        <option value=""> List - Sections/Tasks </option>
                        <option value=""> List - Sections/Tasks/Description/Subtasks </option>
                        <option value=""> List - Sections/Tasks/Description/Subtasks/Duel/Assignee </option>
                        <option value=""> Projects Dashboard </option>
                        <option value=""> Slide Presentation </option>
                        <option value=""> Slide Notes </option>
                    </select>
                </div>
                <div class="partie2">
                    <p> 2. Choose an output: View and Copy to clipboard, View and Print (or save as PDF) via print dialog, or Save File: </p>
                    <div class="exportButton">
                        <button> <a href="#"> View + Copy </a> </button>
                        <button> <a href="#"> View + PrintPDF </a> </button>
                        <button> <a href="#"> Save CSV/Text File </a> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>